{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог - Flower Shop{% endblock %}
{% block content %}
	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
				<div class="title">Все букеты</div>
				<div class="catalog__block" id="cata">

					{% for bouquet in bouquets %}
								<div class="recommended__block_elems ficb recommended-bg" 
									style="background-image: url('{{ bouquet.image.url }}');" 
									onclick="window.location.href='{% url 'card' bouquet.id %}'"
								>
									<span class="recommended_intro">{{ bouquet.title }}</span>
									<span class="recommended_price">{{ bouquet.formatted_price }} руб</span>
								</div>
					{% endfor %}

				</div>
				{% if 'all' not in request.GET %}
					<button class="btn largeBtn catalog__btn" onclick="location.href='{% url 'catalog' %}?all#cata'">Показать ещё</button>
				{% endif %}
			</div>
		</div>
	</section>
	<section id="consultation">
		<div class="container">
			<div class="consultation">
				<form action="{% url 'consultation' %}" method="post" class="consultation__form">
                    {% csrf_token %}
					<div class="title consultation__title">Оставьте заявку на консультацию</div>
					<input type="text" name="client_name" class="order__form_input" placeholder="Введите Имя" required>
					<input type="tel" name="phone_number" class="order__form_input" placeholder="+7 (999) 000 00 00" required >
					<button type="submit" class="consultation__form_btn">Отправить</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}